header {
    background: #000000;;
    margin-top: 6px; 
    color: #fff; 
    margin-bottom: 25px
} 
article.about_me a {
    font-size: 29px;
    text-decoration: none;
    color: white;
    margin: 10px;
} 
button.title_btn {
    border: none;
    margin-top: 10px;
    background: #1e9d1e;
    padding: 0px 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
} 
button.cv_btn {
    margin-top: 16px; 
    background: #1e9d1e;  
    color: #fff

} 
button.cv_btn a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold; 
    border-radius: 10px;
}  
.row.project {
    background: white;
    padding: 10px;
    box-shadow: 1px 1px 5px 7px silver; 
    margin-top: 6%;
} 

@media only screen and (max-width: 640px) {
   .about_me{ 
      
       text-align: center;
   } 
   .cv_btn{ 
   margin-bottom: 10px;

  } 
  .abou_img { 
   text-align: center;  
  
   margin-bottom: 20px;
  } 
  .title_btn{ 
      margin-bottom: 10px;
  }



  }